.navbar 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px
    
    .navbar-logo
        max-height: 70px

    .navbar-links
        a 
            margin: 0 10px
            text-decoration: none
            &:hover 
                font-weight: bold