
<header class="site-navbar site-navbar-target mb-5 pb-3" role="banner">

  <div class="container">
    <nav class="navbar">
      <div class="navbar-brand">
        <a routerLink="/">
          <img [src]="logoPath" alt="Logo" class="navbar-logo">
        </a>
      </div>
      <!-- <div class="navbar-links"></div> -->
      <div class="d-flex">
        <button (click)="toggleTheme()" class="btn toggle-btn bg-opposite-theme" aria-label="toggle-theme">
          <i class="fa-solid " [class] = "{
            'anim': isAnimActive, 
            'fa-sun' : isDarkTheme,
            'fa-moon' : !isDarkTheme
          }"></i>
        </button>
        
        <div class="btn toggle-btn bg-opposite-theme mr-1">
          <img class="flagicon" (click)="toggleFlags()" [src]="'assets/flags/'+this.currentLang+'.png'">
          <div #dropFlags class="drop-content bg-opposite-theme">
            @if (currentLang != 'en') {
              <img class="flagicon" (click)="changeLang('en')" alt="English" src="assets/flags/en.png">
            }
            @if (currentLang != 'es') {
              <img class="flagicon" (click)="changeLang('es')" alt="Spanish" src="assets/flags/es.png">
            }
            @if (currentLang != 'fr') {
              <img class="flagicon" (click)="changeLang('fr')" alt="French" src="assets/flags/fr.png">
            }

          </div>
        </div> 
        
      </div>
    </nav>
  </div>

</header>

