
<div class="container mt-5">
    <div class="d-flex banner-content">
        <div class="col-8 banner-titles d-flex align-items-center justify-content-between">
            <div class="w-100">
                <h4>{{ "Hello, I am" | translate }}</h4>
                <h3 class="color-y">Álvaro Ramírez</h3>
                <h2>{{ "Full Stack" | translate }}</h2>
                <h2 class="text-right">{{ "Web Developer" | translate }}</h2>
                <div class="mt-4">
                    {{ "I am a passionate programmer constantly evolving in the world of technology." | translate}}
                    {{ "I thrive on learning and tackling new challenges every day, " | translate}}
                    {{ "always aiming to expand my skills and deliver innovative solutions. " | translate}}
                    <br><br>
                    {{ "With a strong background in software development, I am dedicated to continuous growth and embracing the latest trends in the industry." | translate}}
                </div>
                <div>
                    <a href="assets/docs/AlvaroRamirezCV_EN.pdf" class="mt-5 bg-y button btn" target=”_blank”>Download my CV</a>
                </div>
            </div>
        </div>

        <div class="col banner-image">
            <img [src]="bannerImage" alt="" class="profile-img">
        </div>
    </div>
</div>