
<div class="container mt-5">
    <div class="d-flex banner-content">
        <div class="col-8 banner-titles d-flex align-items-center justify-content-between">
            <div class="w-100">
                <h4>Hola soy</h4>
                <h3 class="color-y">Álvaro Ramírez</h3>
                <h2>Full Stack</h2>
                <h2 class="text-right">Web Developer</h2>
            </div>
        </div>

        <div class="col banner-image">
            <img [src]="bannerImage" alt="" class="profile-img">
        </div>
    </div>
</div>