<div class="container-projects">

    <div class="container-selector">
        <div class="content-selector">
            <div class="selector" [class.active]="selected === 'websites'" (click)="select('websites')">
                <span>{{ "Websites I've worked on" | translate }}</span>
            </div>
            <div class="selector" [class.active]="selected === 'projects'" (click)="select('projects')">
                <span>{{ "Projects I made myself" | translate }}</span>
            </div>
        </div>
    </div>

    <!-- // Websites -->
    @if(selected === 'websites') {
        <div class="container title content-selected">
            <h3 class="mx-auto secondary-color">{{ "Websites I've worked on" | translate }}</h3>

            <div class="container grid-projects mt-3">
                @for (web of websites; track web.title) {
                    <app-project-card [project]="web"></app-project-card>
                }
            </div>
        </div>
    }

                
    <!-- // Projects -->
    @if(selected === 'projects') {
        <div class="container title content-selected">
            <h3 class="mx-auto secondary-color">{{ "Projects I made myself" | translate }}</h3>
                        
            <div class="container grid-projects mt-3">
                @for (project of projects; track project.title) {
                <app-project-card [project]="project"></app-project-card>
                }
            </div>
        </div>
    }
</div>
